.root {
  position: relative;
  display: inline-block;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;

  &.place-top,
  &.place-to-left {
    padding-bottom: 10px;
  }

  &.place-top,
  &.place-bottom {
    .arrow {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &.place-top {
    .arrow {
      bottom: 6.2px;
      border-color: transparent #fff #fff transparent;
    }
  }

  &.place-bottom,
  &.place-bottom-right,
  &.place-bottom-left {
    padding-top: 16px;

    .arrow {
      top: 12px;
      border-color: #fff transparent transparent #fff;
      box-shadow: -2px -2px 4px rgb(102 102 102 / 20%);
    }
  }

  &.place-bottom-right {
    .arrow {
      right: 0;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &.place-bottom-left {
    .arrow {
      left: 18px;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.content {
  .arrow {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 8.4853px;
    height: 8.4853px;
    background: transparent;
    border-style: solid;
    border-width: 4.2426px;
  }

  .inner {
    padding: 10px;
    color: $font-color;
    font-size: 12px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 #666;
  }
}
