.linux {
  padding: 0 100px;
  overflow: hidden;

  li {
    a {
      display: inline-block;
      width: 130px;
      height: 38px;
      padding-left: 20px;
      color: #555;
      font-size: 12px;
      line-height: 38px;
      text-decoration: none;
      border: 1px solid #ccc;
      border-radius: 3px;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }
}
