
.text-wrapper {
  position: relative;
  padding-right: 14px;
}

.textarea {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 5px 6px 6px;
  line-height: 19px;
  word-break: break-all;
  border: 1px solid #cdcdcd;
  border-radius: 2px;

  &.display {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    width: auto;
    height: auto;
    overflow-y: auto;
    white-space: pre-wrap;
    visibility: hidden;
  }
}

.mark {
  display: inline-block;
}

.operation {
  position: relative;
  padding-top: 10px;

  .icon {
    display: inline-block;
    float: left;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
    cursor: pointer;

    @extend %background-icon;
  }

  .emoji-icon {
    background-position: -40px -490px;
  }

  .at-icon {
    background-position: -60px -490px;
  }

  .count {
    float: right;
    margin-right: 10px;
    color: #999;
    line-height: 25px;

    &.error {
      color: $light-primary-color;
    }
  }

  .submit {
    float: right;
    width: 46px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background-position: -84px -64px;
    cursor: pointer;
    user-select: none;

    @extend %background-button;

    &.loading,
    &:hover {
      background-position: -84px -94px;
    }
  }
}
