.pagination {
  clear: both;
  margin: 20px 0;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  user-select: none;
}

.page {
  display: inline-block;
  height: 22px;
  margin: 0 1px 0 2px;
  padding: 0 8px;
  color: $font-primary-color;
  line-height: 22px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    border-color: #666;
  }

  &.active {
    color: #fff;
    background-color: $primary-color;
    border-color: #a2161b;
    cursor: default;
  }
}

.prev,
.next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 24px;
  padding: 0;
  line-height: 24px;

  .arrow-icon {
    font-size: 18px;
  }

  &:hover {
    border-color: #ccc;

    .arrow-icon {
      color: #ccc;
    }
  }

  &.disabled,
  &.disabled:hover {
    color: #cacaca;
    cursor: default;
  }
}
