
.pagination {
  clear: both;
  margin: 20px 0;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  user-select: none;
}

.page {
  display: inline-block;
  height: 22px;
  margin: 0 1px 0 2px;
  padding: 0 8px;
  color: $font-primary-color;
  line-height: 22px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    border-color: #666;
  }

  &.active {
    @extend %background-button;

    color: #fff;
    background-position: 0 -650px;
    border-color: #a2161b;
    cursor: default;
  }
}

.prev,
.next {
  width: 69px;
  height: 24px;
  padding: 0;
  line-height: 24px;

  @extend %background-button;

  &:hover {
    border-color: #ccc;
  }

  &.disabled,
  &.disabled:hover {
    color: #cacaca;
    cursor: default;
  }
}

.prev {
  width: 47px;
  padding-left: 22px;
  background-position: 0 -560px;

  &:hover {
    background-position: 0 -590px;
  }

  &.disabled,
  &.disabled:hover {
    background-position: 0 -620px;
  }
}

.next {
  width: 57px;
  padding-left: 12px;
  background-position: -75px -560px;

  &:hover {
    background-position: -75px -590px;
  }

  &.disabled,
  &.disabled:hover {
    background-position: -75px -620px;
  }
}
