.cover-wrapper {
  position: relative;

  .cover {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;

    img {
      vertical-align: top;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @extend %background-cover;

      background-position: 0 0;
      content: "";
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 27px;
  color: #fff;
  background-color: $bg-black-translucent;

  .icon-headset {
    margin: 0 6px;
    font-size: 16px;
  }

  .icon-play {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.name {
  display: inline-block;
  width: 100%;
  max-height: 36px;
  margin: 8px 0 0;
  color: #000;
  font-size: 14px;

  &.ellipsis {
    @extend %text-ellipsis;
  }
}

.creator {
  margin-top: 3px;
  color: #999;

  .nickname {
    display: inline-block;
    max-width: 76%;
    color: $font-color;
    vertical-align: middle;

    @extend %text-ellipsis;
  }
}
