.lyric-wrapper {
  line-height: 23px;

  @extend %break-word;
}

.ask-icon {
  position: absolute;
  top: 12px;
  right: 25px;
  z-index: 5;
  cursor: pointer;

  span {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: 0 -50px;

    @extend %background-playlist;

    &:hover {
      background-position: -24px -50px;
    }
  }
}

.no-lyric {
  padding-top: 98px;
  color: #999;
  text-align: center;

  a {
    margin-left: 12px;
    color: #c2c2c2;
  }
}

.lyric {
  position: relative;
  padding: 20px 0;
  overflow: hidden;

  p {
    min-height: 32px;
    padding: 0 6px;
    color: #989898;
    line-height: 32px;
    text-align: center;
    word-wrap: break-word;
    transition: color 0.7s linear;

    &.active {
      color: #fff;
      font-size: 14px;
      transition: color 0.7s linear;
    }

    a {
      color: #c2c2c2;
    }
  }
}
