.wrapper {
  position: absolute;
  top: 30px;
  left: -12px;
  z-index: 100;
  width: 260px;
  height: 160px;
  padding: 17px 17px 0 13px;
  background: url("../../images/emt-bg.png") no-repeat;
  cursor: default;
  user-select: none;
}

.list {
  height: 130px;
}

.item {
  float: left;
  width: 21px;
  height: 21px;
  margin: 1px 2px 2px 1px;
  border: 1px solid #fff;
  cursor: pointer;

  &:hover {
    border-color: #3d91ec;
  }
}

.pagination {
  margin-top: 2px;
  text-align: center;

  span,
  em {
    display: inline-block;
    height: 15px;
    margin: 0 16px;
    line-height: 16px;
    vertical-align: middle;
  }

  span {
    width: 9px;
    height: 9px;
    cursor: pointer;
  }

  em {
    color: $font-color;
    font-style: normal;
  }
}

.prev {
  @extend %background-button;

  &.disabled {
    cursor: default;
  }

  &,
  &.disabled:hover {
    background-position: -110px 0;
  }

  &:hover {
    background-position: -110px -20px;
  }
}

.next {
  @extend %background-button;

  &.disabled {
    cursor: default;
  }

  &,
  &.disabled:hover {
    background-position: -120px 0;
  }

  &:hover {
    background-position: -120px -20px;
  }
}
