
.cover-wrapper {
  position: relative;

  .cover {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;

    img {
      vertical-align: top;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @extend %background-cover;

      background-position: 0 0;
      content: '';
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  color: #ccc;
  background-position: 0 -537px;

  @extend %background-cover;

  .icon-headset {
    width: 14px;
    height: 11px;
    margin: 9px 5px 0 10px;
    background-position: 0 -24px;

    @extend %background-icon-all;
  }

  .icon-play {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
    cursor: pointer;

    @extend %background-icon-all;

    &:hover {
      background-position: 0 -60px;
    }
  }

  .play-num {
    margin: 6px 0 0 0;
  }
}

.name {
  display: inline-block;
  width: 100%;
  max-height: 36px;
  margin: 8px 0 0;
  color: #000;
  font-size: 14px;

  &.ellipsis {
    @extend %text-ellipsis;
  }
}

.creator {
  margin-top: 3px;
  color: #999;

  .nickname {
    display: inline-block;
    max-width: 76%;
    color: #666;
    vertical-align: middle;

    @extend %text-ellipsis;
  }
}
