.cover {
  position: relative;
  float: left;
  margin: 0 -220px 0 0;

  img {
    width: 177px;
    height: 177px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    @extend %background-cover;

    width: 209px;
    height: 177px;
    background-position: 0 -986px;
    content: "";
  }
}

.content {
  float: right;
  width: 414px;
}

.label {
  float: left;
  width: 54px;
  height: 24px;

  @extend %background-icon;

  background-position: 0 -186px;

  .r {
    position: absolute;
    top: 2px;
    left: 34px;
    width: 8px;
    height: 8px;
    background: url("~assets/images/white-r-icon@3x.png") no-repeat 50%;
    background-size: cover;
  }
}

.title {
  position: relative;
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.publish {
  margin: 16px 0;
  color: $font-color;
  line-height: 22px;

  .artist {
    color: #0c73c2;
  }
}

.operation {
  display: flex;
  align-items: center;
  margin: 0 -10px 0 0;
  overflow: hidden;
  user-select: none;

  .btn-play {
    @extend %button-primary;

    padding: 0 8px;
    border-right: 1px solid $border-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    span {
      margin-right: 6px;
      font-size: 12px;
    }
  }

  .btn-play-disabled {
    @extend %button-disabled;

    margin-right: 6px;
  }

  .btn-add-play {
    @extend %button-primary;

    min-width: auto;
    margin-right: 6px;
    padding: 0 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    svg {
      margin-right: 0 !important;
    }
  }

  .action-btn {
    @extend %button;

    position: relative;
    margin-right: 6px;
    padding: 0 8px;
    text-align: center;

    &.btn-add-favorite-dis {
      cursor: default;

      &:hover span,
      span {
        cursor: default;
      }
    }

    &[data-loading="true"] {
      span::after {
        width: 14px;
        height: 14px;
        margin: 8px 0 0 6px;
        background: url("~assets/images/loading.gif") no-repeat;
        background-size: 100% 100%;
        cursor: default;
        content: "";
      }
    }

    span {
      position: relative;

      &::after {
        display: inline-block;
        content: attr(data-content);
      }
    }
  }
}

.desc {
  margin-top: 20px;
  color: $font-color;
  line-height: 18px;

  > h3 {
    color: $font-primary-color;
    font-size: 12px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  }

  .description {
    line-height: 24px;
    white-space: pre-wrap;
  }
}

.tracks-wrapper {
  margin: 27px 0 40px;

  .table-title {
    border-bottom: 2px solid $light-primary-color;

    h3 {
      display: inline-block;
      height: 35px;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }

    .other {
      color: $font-color;
      font-size: 12px;

      .total {
        margin: 9px 0 0 20px;
      }
    }
  }

  .table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      height: 38px;
      vertical-align: top;
      background-color: $bg-color;
      background-repeat: repeat-x;
      background-position: 0 0;

      @extend %background-table;

      &.w1 {
        width: 74px;
      }

      &.w2 {
        width: 90px;
      }

      &.w3 {
        width: 20%;
      }

      .th {
        height: 18px;
        padding: 8px 10px;
        color: $font-color;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        background-position: 0 -56px;

        @extend %background-table;

        &.first {
          background: none;
        }
      }
    }

    td {
      padding: 6px 10px;
      text-align: left;
    }

    .even {
      td {
        background-color: $bg-color;
      }
    }
  }

  .track {
    color: $font-primary-color;

    &.disabled * {
      color: #bbb;
    }

    &.disabled:hover {
      .duration {
        color: #bbb;

        .time {
          display: inline-block;
        }

        .actions {
          display: none;
        }
      }
    }

    &:hover {
      .duration {
        .time {
          display: none;
        }

        .actions {
          display: inline-block;
        }
      }
    }

    .order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #999;

      .number {
        margin-left: 5px;
      }
    }

    .name {
      width: 100%;

      @extend %text-ellipsis;

      .alias {
        color: #aeaeae;
      }

      .mv-icon {
        margin-left: 6px;
        color: $primary-color;
        font-size: 20px;
        vertical-align: middle;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .duration {
      color: $font-color;
      white-space: nowrap;

      .actions {
        display: none;
        cursor: pointer;
      }
    }

    .artists {
      @extend %text-ellipsis;
    }
  }
}

.other-albums {
  margin-bottom: 25px;
  line-height: 24px;

  .album-title {
    @extend %title-underline-h3;

    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  }

  .album-item {
    margin-bottom: 15px;
    overflow: hidden;
  }

  .album-cover {
    float: left;
    width: 50px;
    height: 50px;
  }

  .album-meta {
    float: left;
    margin-left: 10px;

    p {
      width: 140px;

      @extend %text-ellipsis;
    }

    .album-name {
      color: #000;
      font-size: 14px;
    }

    .album-time {
      color: $font-color;
    }
  }
}
