// 热门主播

.wrapper {
  margin-top: 30px;
}

.title {
  position: relative;
  height: 23px;
  margin: 0 20px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.list {
  margin: 20px 0 0 20px;
}

.item {
  float: left;
  width: 210px;
  height: 50px;
}

.cover {
  float: left;
  width: 40px;
  margin-right: 10px;

  img {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 1px #333 inset;
  }
}

.info {
  float: left;
  width: 160px;
  line-height: 21px;
}

.name,
.desc {
  width: 100%;
}

.name {
  a {
    display: inline-block;
    max-width: 88%;
    vertical-align: middle;
  }

  a,
  a:hover {
    color: #000;
  }

  sup {
    display: inline-block;
    width: 11px;
    height: 13px;
    margin: -1px 0 0 2px;
    overflow: hidden;
    vertical-align: middle;
    background-position: 0 1px;

    @extend %background-icon;
  }
}

.desc {
  width: 100%;

  @extend %text-ellipsis;

  color: #666;
}
