.list {
  height: 600px;
  border: 1px solid #e2e2e2;
  border-top: none;
}

.item {
  position: relative;
  width: 424px;
  height: 40px;
  padding: 10px 0;
  line-height: 40px;

  &.even {
    background-color: #f7f7f7;
  }

  .cover,
  .content {
    float: left;
  }

  .cover {
    position: relative;
    margin-left: 20px;

    img {
      width: 40px;
      height: 40px;
      vertical-align: top;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: 22px;
      height: 22px;
      margin: -11px 0 0 -11px;
      overflow: hidden;
      background-position: 0 -85px;
      cursor: pointer;

      @extend %background-icon-all;
    }

    &:hover {
      .play-icon {
        display: inline-block;

        &:hover {
          background-position: 0 -110px;
        }
      }
    }
  }

  .content {
    width: 254px;
    margin: 1px 0 0 10px;
    line-height: 20px;

    .program-name,
    .radio-name {
      display: block;

      @extend %text-ellipsis;
    }

    .radio-name {
      color: #999;
    }
  }

  .category {
    @extend %tag;
  }
}
