%background-sprite {
  background: url("~assets/images/sprite.png") no-repeat 0 9999px;
}

.title {
  @extend %title-underline-h3;
}

.cover {
  float: left;
  width: 50px;
  height: 50px;
}

.meta {
  float: left;
  margin-left: 10px;

  p {
    width: 140px;

    @extend %text-ellipsis;
  }

  .name {
    color: #000;
    font-size: 14px;
  }

  .by {
    float: left;
    color: #999;
  }

  .nickname {
    float: left;
    max-width: 112px;

    @extend %text-ellipsis;

    margin: 0 2px 0 4px;
    color: $font-color;
  }
}

.playlists,
.songs {
  ul {
    margin-bottom: 25px;
    overflow: hidden;
  }
}

.playlists {
  li {
    float: left;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    line-height: 24px;
  }
}

.songs {
  li {
    overflow: hidden;
  }

  li + li {
    margin-top: 10px;
  }
}

.singer {
  color: #999;

  @extend %text-ellipsis;

  a {
    color: #999;
  }
}

.text {
  float: left;
  width: 156px;
  line-height: 16px;

  p {
    @extend %text-ellipsis;
  }
}

.operation {
  position: relative;
  top: 10px;
  float: right;
  line-height: 32px;
}

.icon {
  float: left;
  width: 10px;
  height: 11px;
  cursor: pointer;
  opacity: 90%;

  @extend %background-icon2;

  &:hover {
    opacity: 100%;
  }
}

.play-icon {
  margin-right: 16px;
  background-position: -69px -455px;
}

.add-icon {
  background-position: -87px -454px;
}

.multiple-client {
  .bg {
    height: 65px;
    margin-bottom: 10px;

    @extend %background-sprite;

    background-position: 0 -392px;

    li {
      float: left;
    }
  }

  a {
    display: inline-block;
    width: 42px;
    height: 48px;
    text-indent: -9999px;
  }

  .ios {
    &:hover {
      @extend %background-sprite;

      background-position: 0 -472px;
    }
  }

  .pc {
    width: 60px;
    margin: 0 26px 0 30px;

    &:hover {
      @extend %background-sprite;

      background-position: -72px -472px;
    }
  }

  .aos {
    &:hover {
      @extend %background-sprite;

      background-position: -158px -472px;
    }
  }

  .tip {
    color: #999;
  }
}
