
.list {
  margin: 20px 0 0 -33px;
}

.item {
  display: inline-block;
  float: left;
  width: 159px;
  height: 174px;
  padding: 0 0 0 26px;
  overflow: hidden;
}

.cover {
  position: relative;
  width: 159px;
  height: 90px;

  img {
    width: 100%;
    height: 90px;
    vertical-align: top;
  }

  &:hover {
    .play-icon {
      display: inline-block;
    }
  }

  .time,
  .playTime {
    position: absolute;
    height: 20px;
    color: #fff;
    line-height: 20px;
    text-shadow: -2px 1px rgba(0, 0, 0, 0.4);

    @extend %mask;
  }

  .time {
    bottom: 0;
    left: 0;
    width: 159px;
    padding-left: 5px;
    background-position: 0 -25px;
  }

  .playTime {
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 90px;
    padding-right: 5px;
    text-align: right;
    background-position: 0 0;
  }

  .video-icon {
    display: inline-block;
    width: 15px;
    height: 10px;
    margin: -2px 2px 0 0;
    overflow: hidden;
    vertical-align: middle;
    background-position: -60px -310px;

    @extend %background-icon2;
  }
}

.title {
  margin: 8px 0 3px;

  @extend %text-ellipsis;

  color: #000;
  font-size: 14px;
}

.name {
  @extend %text-ellipsis;

  a {
    color: #666;
  }
}
