%background-date {
  background: url("~assets/images/date.png") no-repeat 0 9999px;
}

.header {
  position: relative;
  width: 638px;
  height: 180px;
  background: url("~assets/images/recmd-daily.jpg") no-repeat;
}

.date-icon {
  position: relative;
  float: left;
  width: 114px;
  height: 114px;
  margin: 34px 0 0 54px;
  background-position: 0 -270px;

  @extend %background-date;
}

.day {
  height: 26px;
  color: #fed9d9;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  text-shadow: 0 -1px #962626;
}

.date {
  color: #202020;
  font-weight: 700;
  font-size: 74px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 80px;
  text-align: center;
}

.date-mask {
  position: absolute;
  top: 26px;
  left: 0;
  width: 142px;
  height: 107px;

  @extend %background-date;

  background-position: 0 -400px;
}

.actions {
  margin: 30px 0 16px;
  overflow: hidden;

  .btn-play {
    float: left;
    white-space: nowrap;
    text-decoration: none;
    background-position: right -428px;

    @extend %background-button2;

    &:hover {
      background-position: right -510px;

      i {
        background-position: 0 -469px;
      }

      em {
        background-position: -28px -1622px;
      }
    }

    i {
      padding: 0 7px 0 8px;
      color: #fff;
      background-position: 0 -387px;

      em {
        float: left;
        width: 20px;
        height: 18px;
        margin: 6px 2px 2px 0;
        overflow: hidden;
        background-position: 0 -1622px;

        @extend %background-button2;
      }
    }
  }

  .btn-add-play {
    @extend %button-base;

    margin: 0 8px 0 -3px;
    padding: 0 8px 0 0;
    background-position: 0 -1588px;

    &:hover {
      background-position: -40px -1588px;
    }
  }

  .btn-subscribe {
    @extend %button-base;

    margin-right: 6px;
    padding: 0 5px 0 0;
  }
}

.table-title {
  border-bottom: 2px solid $light-primary-color;

  h3 {
    display: inline-block;
    height: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }

  .other {
    color: $font-color;
    font-size: 12px;

    .total {
      margin: 9px 0 0 20px;
    }
  }
}

.rcmd-des {
  margin-bottom: 30px;

  .rcmd-title {
    height: 22px;
    padding: 5px 0 8px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    line-height: 22px;
    border-bottom: 1px solid #ccc;

    .question-icon {
      float: left;
      width: 22px;
      height: 22px;
      margin-right: 6px;
      vertical-align: middle;
      background-position: 0 0;

      @extend %background-icon2;
    }
  }

  p {
    margin: 12px 0;
    color: $font-color;
    line-height: 20px;
  }

  .summary {
    padding: 17px 0 0 12px;
    color: #999;
    background-color: $bg-color;

    li {
      width: 188px;
      padding-bottom: 20px;
    }

    .icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 8px;
      vertical-align: middle;

      @extend %background-icon2;
    }

    .play-icon {
      background-position: -25px 0;
    }

    .like-icon {
      background-position: 0 -25px;
    }

    .subscribe-icon {
      background-position: -25px -25px;
    }

    .count {
      color: $light-primary-color;
    }
  }
}
