%background-date {
  background: url("~assets/images/date.png") no-repeat 0 9999px;
}

.header {
  position: relative;
  width: 638px;
  height: 180px;
  background: url("~assets/images/recmd-daily.jpg") no-repeat;
}

.date-icon {
  position: relative;
  float: left;
  width: 114px;
  height: 114px;
  margin: 34px 0 0 54px;
  background-position: 0 -270px;

  @extend %background-date;
}

.day {
  height: 26px;
  color: #fed9d9;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  text-shadow: 0 -1px #962626;
}

.date {
  color: #202020;
  font-weight: 700;
  font-size: 74px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 80px;
  text-align: center;
}

.date-mask {
  position: absolute;
  top: 26px;
  left: 0;
  width: 142px;
  height: 107px;

  @extend %background-date;

  background-position: 0 -400px;
}

.operation {
  display: flex;
  margin: 16px 0;

  .btn-play {
    @extend %button-primary;

    padding: 0 8px;
    border-right: 1px solid $border-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    span {
      margin-right: 6px;
      font-size: 12px;
    }
  }

  .btn-add-play {
    @extend %button-primary;

    min-width: auto;
    margin-right: 6px;
    padding: 0 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    svg {
      margin-right: 0 !important;
      font-size: 20px;
    }
  }

  .action-btn {
    @extend %button;

    position: relative;
    margin-right: 6px;
    padding: 0 8px;
    text-align: center;
  }
}

.table-title {
  border-bottom: 2px solid $light-primary-color;

  h3 {
    display: inline-block;
    height: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }

  .other {
    color: $font-color;
    font-size: 12px;

    .total {
      margin: 9px 0 0 20px;
    }
  }
}

.rcmd-des {
  margin-bottom: 30px;

  .rcmd-title {
    height: 22px;
    padding: 5px 0 8px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    line-height: 22px;
    border-bottom: 1px solid #ccc;

    .question-icon {
      float: left;
      width: 22px;
      height: 22px;
      margin-right: 6px;
      vertical-align: middle;
      background-position: 0 0;

      @extend %background-icon2;
    }
  }

  p {
    margin: 12px 0;
    color: $font-color;
    line-height: 20px;
  }

  .summary {
    padding: 17px 0 0 12px;
    color: #999;
    background-color: $bg-color;

    li {
      width: 188px;
      padding-bottom: 20px;
    }

    .icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 8px;
      vertical-align: middle;

      @extend %background-icon2;
    }

    .play-icon {
      background-position: -25px 0;
    }

    .like-icon {
      background-position: 0 -25px;
    }

    .subscribe-icon {
      background-position: -25px -25px;
    }

    .count {
      color: $light-primary-color;
    }
  }
}
