.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #d9d9d9;

  th {
    height: 38px;
    vertical-align: top;
    background-color: #f7f7f7;
    @extend %background-table;
    background-position: 0 0;
    background-repeat: repeat-x;

    &.w1 {
      width: 74px;

      &.special {
        width: 96px;
      }
    }

    &.w2 {
      width: 236px;
    }

    &.w3 {
      width: 110px;
    }

    &.w4 {
      width: 90px;
    }

    &.w5 {
      width: 20%;
    }

    .th {
      height: 18px;
      line-height: 18px;
      padding: 8px 10px;
      text-align: left;
      color: #666;
      font-weight: 400;
      @extend %background-table;
      background-position: 0 -56px;

      &.first {
        background: none;
      }
    }
  }

  td {
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
  }

  .even {
    td {
      background-color: #f7f7f7;
    }
  }

  .track {
    color: #333;

    &.disabled * {
      color: #bbb;
    }

    &.disabled .order .ply,
    &.disabled .order .ply:hover {
      opacity: 0.5;
      background-position: 0 -103px;
      cursor: default;
    }

    &.disabled:hover {
      .duration {
        color: #bbb;

        .time {
          display: inline-block;
        }

        .actions {
          display: none;
        }
      }
    }

    &:hover {
      .duration {
        .time {
          display: none;
        }

        .actions {
          display: inline-block;
        }
      }

      .album {
        .dislike {
          display: inline-block;
        }
      }
    }

    .order {
      color: #999;

      .number {
        margin-left: 5px;
      }

      .new {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 17px;
        margin: 0 8px 0 16px;
        @extend %background-icon;
        background-position: -67px -283px;
      }

      .ply {
        float: right;
        display: inline-block;
        width: 17px;
        height: 17px;
        cursor: pointer;
        @extend %background-table;
        background-position: 0 -103px;

        &:hover {
          background-position: 0 -128px;
        }

        &.ply-active {
          background-position: -20px -128px;
        }
      }
    }

    .name {
      width: 100%;
      @extend %text-ellipsis;

      .alias {
        color: #aeaeae;
      }

      .mv-icon {
        display: inline-block;
        width: 23px;
        height: 17px;
        vertical-align: middle;
        margin: 0 0 0 4px;
        @extend %background-table;
        background-position: 0 -151px;
        cursor: pointer;

        &:hover {
          background-position: -30px -151px;
        }
      }
    }

    .duration {
      color: #666;

      .actions {
        display: none;
        cursor: pointer;
      }
    }

    .artists {
      @extend %text-ellipsis;
    }

    .album {
      position: relative;

      a {
        display: inline-block;
        width: 90%;
        @extend %text-ellipsis;
      }

      .dislike {
        display: none;
        position: absolute;
        top: 10px;
        right: 8px;
        width: 10px;
        height: 10px;
        @extend %background-icon;
        background-position: -75px -352px;
        cursor: pointer;

        &:hover {
          background-position: -75px -365px;
        }
      }
    }
  }
}

