.wrapper {
  min-width: 982px;
  background-color: $bg-primary-color;
}

.forbidden {
  padding: 165px 0 166px;
  text-align: center;
  background-color: #fff;
}

.note {
  margin-top: 35px;
  color: $font-color;
  font-size: 18px;
  font-family: "Microsoft Yahei", sans-serif;
}
