// 入驻歌手

.wrapper {
  margin-top: 15px;

  .title {
    position: relative;
    height: 23px;
    margin: 0 20px;
    color: #333;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
  }

  .more {
    float: right;
    color: #666;
    font-weight: 400;
  }

  .list {
    margin: 6px 0 14px 20px;
    overflow: hidden;
  }

  .item {
    float: left;
    width: 210px;
    height: 62px;
    margin-top: 14px;
    background-color: #fafafa;

    &:hover {
      background-color: #f4f4f4;
    }

    > a {
      display: inline-block;
    }
  }

  .item-avatar {
    float: left;
    width: 62px;
    height: 62px;
  }

  .item-info {
    float: left;
    width: 133px;
    height: 60px;
    padding-left: 14px;
    border: 1px solid #e9e9e9;
    border-left: none;
  }

  .item-nickname,
  .item-desc {
    width: 90%;
    margin-top: 8px;

    @extend %text-ellipsis;
  }

  .item-nickname {
    font-size: 14px;
  }

  .item-desc {
    color: #666;
  }

  .apply {
    @extend %button;

    clear: both;
    margin-left: 20px;
    white-space: nowrap;
    background-position: right -100px;
    border-radius: 4px;

    &:hover {
      text-decoration: none;
      background-position: right -182px;
    }

    > i {
      @extend %button-i;

      width: 170px;
      padding: 0 15px 0 20px;
      font-weight: 700;
      background-position: 0 -59px;

      &:hover {
        background-position: 0 -141px;
      }
    }
  }
}
