.play {
  color: $font-color;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $light-primary-color;
  }

  &.disabled,
  &.disabled:hover {
    cursor: default;
    opacity: 0.5;
  }
}
