
.gutter {
  padding: 40px;
}

.title {
  height: 40px;
  border-bottom: 2px solid $light-primary-color;

  h3 {
    float: left;
    font-weight: normal;
    font-size: 24px;
  }

  .sub {
    float: left;
    margin: 13px 0 0 10px;
    color: #999;
  }

  .question {
    float: right;
    margin-top: 12px;
  }
}
