
.section {
  margin-top: 35px;
}

.radios {
  margin-left: -30px;
  overflow: hidden;

  .item {
    float: left;
    width: 435px;
    height: 120px;
    margin-left: 30px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(231, 231, 231);

    > a {
      float: left;
    }

    .cover {
      width: 120px;
      height: 120px;
      margin-right: 20px;
    }

    .cont {
      .name {
        display: block;
        margin: 16px 0 20px;
        color: #333;
        font-weight: 700;
        font-size: 18px;
      }

      .desc {
        margin-bottom: 6px;
        color: #999;
        line-height: 20px;
      }
    }
  }
}
