.content {
  height: 26px;
  padding: 20px 0;
  text-align: center;
  color: #999;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  vertical-align: middle;
  background: url(~assets/images/loading.gif) no-repeat center;
}
