.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  td {
    height: 18px;
    padding: 4px 10px;
    line-height: 18px;
  }

  .even {
    background-color: $bg-color;
  }

  .track {
    color: $font-primary-color;

    &.disabled * {
      color: #bbb;
    }

    &.disabled:hover {
      .duration {
        color: #bbb;

        .time {
          display: inline-block;
        }

        .actions {
          display: none;
        }
      }
    }

    &:hover {
      .duration {
        .time {
          display: none;
        }

        .actions {
          display: inline-block;
        }
      }

      .album {
        .dislike {
          display: inline-block;
        }
      }
    }

    .order {
      display: inline-flex;
      align-items: center;
      color: #999;

      .number {
        width: 25px;
        margin: 0 8px 0 5px;
      }

      .play {
        width: 20px;
        height: 20px;

        svg {
          font-size: 20px;
        }
      }
    }

    .name {
      display: inline-flex;
      align-items: center;
      width: 248px;

      @extend %text-ellipsis;

      .alias {
        display: inline-block;
        overflow: hidden;
        color: #aeaeae;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .mv-icon {
        display: inline-block;
        margin: 0 0 0 4px;
        color: $primary-color;
        font-size: 20px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .duration {
      width: 70px;
      color: $font-color;

      .actions {
        display: none;
        cursor: pointer;
      }
    }

    .album {
      position: relative;
      width: 128px;
      min-width: 128px;
      max-width: 128px;

      a {
        display: inline-block;
        width: 90%;

        @extend %text-ellipsis;
      }
    }
  }
}
