.wrapper {
  background-color: #f9f9f9;
}

.ranking-wrapper {
  float: left;
  width: 240px;
  padding-top: 40px;

  .subtitle {
    padding: 0 10px 12px 15px;
    color: #000;
    font-size: 14px;
  }

  .list {
    margin-bottom: 20px;

    .item {
      position: relative;
      height: 42px;
      padding: 10px 0 10px 20px;
      cursor: pointer;

      .cover-box {
        float: left;
        margin-right: 10px;
        overflow: hidden;

        .cover {
          width: 40px;
          height: 40px;
        }
      }

      .name {
        width: 150px;
        margin: 0 0 6px;

        @extend %text-ellipsis;

        color: #000;
        text-decoration: none;
      }

      .status {
        color: #999;
      }

      &.selected {
        background-color: #e6e6e6;
      }

      &:hover {
        background-color: #f4f2f2;
      }
    }
  }

  .media {
    margin-top: 20px;
  }
}

.playlist-wrapper {
  float: left;
  width: 740px;
  height: 100%;
  background-color: #fff;

  .playlist-detail {
    min-height: 700px;
    padding: 40px 30px 40px 40px;
    border-left: 1px solid #ccc;

    .info {
      overflow: hidden;
    }

    .cover {
      position: relative;
      float: left;
      width: 150px;
      height: 150px;
      padding: 3px;
      border: 1px solid #ccc;

      img {
        width: 100%;
        height: 100%;
        vertical-align: top;
      }

      &::after {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 150px;
        height: 150px;

        @extend %background-cover;

        background-position: -230px -380px;
        content: "";
      }
    }

    .content {
      float: left;
      width: 450px;
      margin-left: 30px;
    }

    .title {
      position: relative;
      margin: 16px 0 4px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }

    .time {
      margin: 12px 0 20px;
      color: $font-color;

      .clock-icon {
        display: inline-block;
        margin: 0 5px 0 0;
        font-size: 18px;
        vertical-align: middle;
      }

      .status {
        color: #999;
      }
    }

    .operation {
      display: flex;
      align-items: center;
      margin: 0 -10px 0 0;
      overflow: hidden;
      user-select: none;

      .btn-play {
        @extend %button-primary;

        padding: 0 8px;
        border-right: 1px solid $border-color;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        span {
          margin-right: 6px;
          font-size: 12px;
        }
      }

      .btn-play-disabled {
        @extend %button-disabled;

        margin-right: 6px;
      }

      .btn-add-play {
        @extend %button-primary;

        min-width: auto;
        margin-right: 6px;
        padding: 0 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        svg {
          margin-right: 0 !important;
        }
      }

      .action-btn {
        @extend %button;

        margin-right: 6px;
        padding: 0 8px;
        text-align: center;
      }
    }

    .tracks-wrapper {
      margin: 27px 0 40px;

      .table-title {
        border-bottom: 2px solid $light-primary-color;

        h3 {
          display: inline-block;
          height: 35px;
          font-size: 20px;
          line-height: 28px;
        }

        .other {
          color: $font-color;
          font-size: 12px;

          .total {
            margin: 9px 0 0 20px;
          }

          .more {
            float: right;
            margin-top: 5px;

            .play-count {
              color: $light-primary-color;
            }
          }
        }
      }
    }

    .guide {
      width: 100%;
      margin: 30px 0 -10px;
      text-align: center;

      .text {
        margin-bottom: 18px;
        color: $font-primary-color;
        font-size: 13px;
      }

      .download {
        display: inline-block;
        width: 120px;
        height: 30px;
        color: #fff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        background-image: linear-gradient(90deg, #ff5a4c 0%, #ff1d12 100%);
        border-radius: 18px;
      }
    }
  }
}
