%background-banner {
  background: url("~assets/images/banner.png") no-repeat 0 9999px;
}

%swiper-icon {
  background: url("~assets/images/banner.png") no-repeat 0 9999px;
}

%swiper-button {
  position: absolute;
  top: 50%;
  display: block;
  width: 37px;
  height: 63px;
  margin-top: -31px;
  text-indent: -9999px;
}

.wrapper {
  transition: background 0.3s ease-in;
}

.banner {
  position: relative;
  z-index: 1;
  width: 982px;
  //height: 284px;
  margin: 0 auto;

  :global {
    .slick-dots {
      bottom: 10px;

      li {
        button {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 8px;
          background-position: 3px -343px;
          cursor: pointer;

          @extend %swiper-icon;

          &::before {
            content: none;
          }

          &:hover {
            background-position: -16px -343px;
          }
        }

        &.slick-active {
          button {
            background-position: -16px -343px;
          }
        }
      }
    }

    .slick-prev {
      @extend %swiper-icon;
      @extend %swiper-button;

      left: -68px;
      background-position: 0 -360px;

      &:hover {
        background-position: 0 -430px;
      }
    }

    .slick-next {
      @extend %swiper-icon;
      @extend %swiper-button;

      right: -68px;
      background-position: 0 -508px;

      &:hover {
        background-position: 0 -578px;
      }
    }

    .slick-slide {
      z-index: -1;

      &.slick-active.slick-current {
        z-index: 1;
      }
    }
  }

  .slide {
    a {
      display: block;
    }

    .image {
      display: inline-block;
      vertical-align: top;
    }
  }
}
