
%background-banner {
  background: url(~assets/images/banner.png) no-repeat 0 9999px;
}

%background-download {
  background: url(./images/download.png) no-repeat 0 0;
}

%swiper-icon {
  background: url(~assets/images/banner.png) no-repeat 0 9999px;
}

%swiper-button {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  width: 37px;
  height: 63px;
  text-indent: -9999px;
}

.banner {
  position: relative;
  width: 982px;
  height: 336px;
  margin: 0 auto;
  z-index: 1;

  :global {
    .swiper-container {
      height: 100%;
    }

    .swiper-pagination-bullet {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      @extend %swiper-icon;
      background-position: 3px -343px;
      cursor: pointer;
    }

    .swiper-pagination-bullet-active {
      @extend %swiper-icon;
      background-position: -16px -343px;
    }

    .swiper-button-prev {
      @extend %swiper-icon;
      @extend %swiper-button;
      left: -68px;
      background-position: 0 -360px;

      &:hover {
        background-position: 0 -430px;
      }
    }

    .swiper-button-next {
      @extend %swiper-icon;
      @extend %swiper-button;
      right: -68px;
      background-position: 0 -508px;

      &:hover {
        background-position: 0 -578px;
      }
    }

    .swiper-slide img {
      display: block;
      height: 336px;
    }

    .swiper-pagination {
      width: 730px;
      height: 20px;
    }
  }

  .banner-content {
    margin: 0;
    width: 730px;
  }

  .download {
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 1;
    width: 254px;
    height: 336px;
    @extend %background-download;

    a {
      @extend %background-download;
      display: block;
      width: 215px;
      height: 56px;
      margin: 212px 0 0 19px;
      background-position: 0 9999px;
      text-indent: -9999px;

      &:hover {
        background-position: 0 -340px;
      }
    }

    p {
      margin: 10px auto;
      text-align: center;
      color: #8d8d8d;
    }

    .shadow-left,
    .shadow-right {
      display: block;
      position: absolute;
      top: 0;
      left: -20px;
      width: 20px;
      height: 336px;
      @extend %background-banner;
      background-position: -1px 0;
    }

    .shadow-right {
      left: auto;
      right: -20px;
      background-position: -20px 0;
    }
  }
}


