
%background-banner {
  background: url(~assets/images/banner.png) no-repeat 0 9999px;
}

%background-download {
  background: url(./images/download.png) no-repeat 0 0;
}

%swiper-icon {
  background: url(~assets/images/banner.png) no-repeat 0 9999px;
}

%swiper-button {
  position: absolute;
  top: 50%;
  display: block;
  width: 37px;
  height: 63px;
  margin-top: -31px;
  text-indent: -9999px;
}

.banner {
  position: relative;
  z-index: 1;
  width: 982px;
  height: 284px;
  margin: 0 auto;

  :global {
    .slick-dots {
      bottom: 10px;

      li {
        button {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 8px;
          background-position: 3px -343px;
          cursor: pointer;

          @extend %swiper-icon;

          &::before {
            content: none;
          }

          &:hover {
            background-position: -16px -343px;
          }
        }

        &.slick-active {
          button {
            background-position: -16px -343px;
          }
        }
      }
    }

    .slick-prev {
      @extend %swiper-icon;
      @extend %swiper-button;

      left: -68px;
      background-position: 0 -360px;

      &:hover {
        background-position: 0 -430px;
      }
    }

    .slick-next {
      @extend %swiper-icon;
      @extend %swiper-button;

      right: -68px;
      background-position: 0 -508px;

      &:hover {
        background-position: 0 -578px;
      }
    }
  }

  .slide img {
    vertical-align: top;
  }

  .download {
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 20;
    width: 254px;
    height: 284px;

    @extend %background-download;

    a {
      display: block;
      width: 215px;
      height: 56px;
      margin: 186px 0 0 19px;
      text-indent: -9999px;
      background-position: 0 9999px;

      @extend %background-download;

      &:hover {
        background-position: 0 -290px;
      }
    }

    p {
      margin: 10px auto;
      color: #8d8d8d;
      text-align: center;
    }

    .shadow-left,
    .shadow-right {
      position: absolute;
      top: 0;
      left: -20px;
      display: block;
      width: 20px;
      height: 284px;
      background-position: -1px 0;

      @extend %background-banner;
    }

    .shadow-right {
      right: -20px;
      left: auto;
      background-position: -20px 0;
    }
  }
}
