%background-date {
  background: url(~assets/images/date.png) no-repeat 0 9999px;
}

.list {
  margin: 20px 0 0 0;
}

.item {
  float: left;
  width: 140px;
  padding: 0 0 30px 0;

  + .item {
    margin-left: 42px;
  }
}

.item-date {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;

  @extend %background-date;

  background-position: 0 0;

  &:hover {
    text-decoration: none;
  }
}

.day {
  height: 33px;
  color: #fed9d9;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  text-shadow: 0 -1px #962626;
}

.date {
  color: #202020;
  font-weight: bold;
  font-size: 94px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 102px;
  text-align: center;
}

.date-mask {
  position: absolute;
  top: 33px;
  left: 0;
  width: 142px;
  height: 107px;

  @extend %background-date;

  background-position: 0 -150px;
}

.desc {
  display: block;
  max-height: 38px;
  margin: 8px 0 0;
  overflow: hidden;
  color: #000;
  font-size: 14px;
}

.sub-desc {
  position: relative;
  min-height: 30px;
  margin-top: 3px;
  color: #999;

  em {
    font-style: normal;
  }

  .dislike {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    display: none;
    width: 63px;
    color: #666;
    line-height: 26px;
    text-align: center;
    background-position: 0 -130px;
    cursor: pointer;
    user-select: none;

    @extend %background-index;
  }

  &:hover {
    em {
      visibility: hidden;
    }

    .dislike {
      display: block;

      &:hover {
        color: #333;
        background-position: -70px -130px;
      }
    }
  }
}
