.popover {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
}

.popover-mask {
  position: fixed;
  _position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.popover-bar {
  position: relative;
  z-index: 10;
  background-color: #2d2d2d;
  border-bottom: 1px solid #191919;
  border-radius: 4px 4px 0 0;
  cursor: move;
}

.popover-title {
  height: 38px;
  margin: 0;
  padding-right: 45px;
  padding-left: 18px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 38px;
  border-radius: 3px 3px 0 0;
}

.popover-close {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 20;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  background: url("~assets/images/layer.png") no-repeat 0 -95px;
  cursor: pointer;
}

.popover-cont {
  a {
    color: $font-primary-color;
    font-size: 12px;
  }
}

.popover-form-text {
  margin: 0;
  padding: 5px 6px 6px;
  line-height: 19px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
