%swiper-icon {
  background: url(./images/radio-slide.png) no-repeat;
}

.categories {
  position: relative;

  .list {
    height: 194px;
    margin-right: -33px;

    .item {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin: 0 33px 25px 0;
      text-align: center;
      color: #888;
      background: url(./images/radio-bg.png) no-repeat 0 9999px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-position: 0 0;
      }

      &.active {
        color: rgb(211, 87, 87);
        background-position: -70px 0px;
      }
    }

    .icon {
      width: 48px;
      height: 48px;
      margin: 2px auto 0;
      background-position: 0 0;
    }

    .name {
      font-style: normal;
    }
  }

  .pagination {
    height: 20px;
    text-align: center;

    .dot {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-indent: -9999px;
      background: url(./images/radio-slide.png) no-repeat 0 0;
      cursor: pointer;

      &.active,
      &:hover {
        background-position: -30px 0px;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 30px;
    margin-top: -15px;
    @extend %swiper-icon;
    opacity: 0.25;
    cursor: pointer;

    &.disabled,
    &.disabled:hover {
      opacity: 0.08;
    }
  }

  .prev {
    left: -24px;
    background-position: 0 -30px;

    &:hover {
      opacity: 0.4;
    }
  }

  .next {
    right: -24px;
    background-position: -30px -30px;

    &:hover {
      opacity: 0.4;
    }
  }
}


.rank {
  margin-top: 20px;

  .column {
    width: 426px;
  }
}

.more {
  margin-top: 35px;
}
