@mixin background-position($x, $y) {
  background-position: $x $y;
}

.foot-bar {
  position: relative;
  height: 148px;
  overflow: hidden;
  background: #f2f2f2;
  border-top: 1px solid #d3d3d3;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

.copy {
  float: left;
  width: 520px;
  padding-top: 15px;
  line-height: 24px;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.copy-line {
  margin: 0 8px 0 10px;
  color: #c2c2c2;
}

.copy-sep-company {
  margin-right: 14px;
}

.copy-sep-email {
  margin-left: 14px;
  color: $font-primary-color;
}

.color-1 {
  color: #999;
}

.color-2 {
  color: $font-color;
}
