.box {
  position: relative;
  display: inline-block;
  width: 100%;

  .cover {
    position: relative;
    display: block;
    width: 100%;

    a {
      display: inline-block;
    }

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: 0 -845px;

      @extend %background-cover;

      &.small {
        background-position: -170px -850px;
      }
    }

    img {
      vertical-align: top;
    }

    .play-icon {
      position: absolute;
      right: 32px;
      bottom: 6px;
      display: none;
      color: #fff;
      font-size: 28px;
      background-color: $bg-black-translucent;
      border-radius: 50%;
      cursor: pointer;
    }

    &:hover {
      .play-icon {
        display: inline-block;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .title,
  .name {
    display: block;

    @extend %text-ellipsis;
  }

  .title {
    height: 20px;
    margin: 8px 0 3px;
    color: #000;
    font-size: 14px;
  }

  .name {
    height: 16px;
    color: $font-color;
    font-size: 12px;
  }
}
