
.wrapper {
  width: 100%;
  padding: 40px;
}

.title {
  height: 40px;
  border-bottom: 2px solid $light-primary-color;

  h3 {
    float: left;
    font-weight: normal;
    font-size: 24px;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  }

  .category-btn-wrapper {
    display: inline-block;
    vertical-align: top;
  }

  .category-btn,
  .hot-btn {
    border-radius: 4px;
    cursor: pointer;
  }

  .category-btn {
    width: 90px;
    height: 30px;
    margin: 0 0 0 12px;
    color: #0c73c2;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #d1d1d1;

    i {
      display: inline-block;
      width: 8px;
      height: 5px;
      margin-left: 5px;
      vertical-align: middle;
      background-position: -70px -543px;

      @extend %background-icon;
    }

    &:hover {
      background-color: #fff;
    }
  }

  .hot-btn {
    display: inline-block;
    float: right;
    width: 46px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background-color: $light-primary-color;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
  }
}

.list {
  margin: 30px 0 0 -50px;
}

.item {
  display: inline-block;
  float: left;
  width: 140px;
  height: 188px;
  padding: 0 0 30px 50px;
  overflow: hidden;
  line-height: 1.4;
}

.pagination {
  margin: 20px 0;
}
