
.title {
  height: 40px;
  border-bottom: 2px solid #c20c0c;

  h3 {
    float: left;
    font-size: 24px;
    font-weight: normal;
  }

  .guide {
    float: right;
    margin-top: 14px;
    color: #666;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  }
}




