.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .mv-icon {
    margin-right: 8px;
    color: $primary-color;
    font-size: 30px;
    vertical-align: middle;
  }

  .title {
    max-width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
  }
}

.player {
  width: 640px;
  height: 360px;
}

.artist-name {
  margin-left: 8px;
  color: #0c73c2;
}

.title-underline {
  @extend %title-underline-h3;

  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

.about {
  margin: 16px 0 32px;
  color: #999;
  font-size: 12px;
  line-height: 18px;

  .desc {
    margin-top: 10px;
    color: $font-primary-color;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin: 12px 0 45px;

  .btn {
    margin-right: 10px;

    @extend %button;

    .liked {
      color: $light-primary-color;
    }
  }
}

.mvs {
  margin-bottom: 32px;

  .mv {
    display: flex;
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .cover {
      position: relative;
      flex-shrink: 0;
      width: 96px;
      height: 54px;

      .mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 20px;
        padding-right: 5px;
        color: #fff;
        line-height: 20px;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.4);

        .count {
          display: inline-flex;
          align-items: center;

          .video-icon {
            font-size: 18px;
            vertical-align: middle;
          }
        }
      }
    }

    .meta {
      flex: 1;
      min-width: 0;
      margin-left: 10px;

      .name {
        display: block;

        @extend %text-ellipsis;

        line-height: 21px;
      }

      .duration {
        color: #999;
        line-height: 16px;
      }

      .artist {
        @extend %text-ellipsis;

        color: #999;
        line-height: 16px;

        > a {
          color: #999;
        }
      }
    }
  }
}
