$nav-border-color: #202020;

@mixin link-color {
  color: #ccc;
}

@mixin link-hover-color {
  color: #fff;
}

%icon {
  background: url("~assets/images/toplist.png") no-repeat 0 9999px;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  min-height: 70px;
  background-color: #242424;
}

.cont {
  width: 1100px;
  margin: 0 auto;
}

.logo,
.search,
.video-contribution,
.login,
.tag-hot {
  background: url("~assets/images/topbar.png") no-repeat 0 9999px;
}

.logo {
  float: left;
  width: 176px;
  height: 69px;
  background-position: 0 0;
}

.logo-text {
  display: inline-block;
  text-indent: -9999px;
}

.link-list {
  margin: 0;
  padding: 0;

  .link-item {
    float: left;
    font-size: 14px;
  }
}

.link {
  position: relative;
  display: inline-block;
  padding: 0 19px;
  line-height: 70px;

  @include link-color;

  &:hover,
  &.link-active {
    text-decoration: none;
    background-color: #000;

    @include link-hover-color;
  }

  &.link-active {
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      border-color: transparent transparent $light-primary-color transparent;
      border-style: solid;
      border-width: 6px;
      transform: translateX(-50%);
      content: "";
    }
  }
}

.tag-hot {
  position: absolute;
  top: 21px;
  left: 100px;
  display: block;
  width: 28px;
  height: 19px;
  background-position: -190px 0;
}

.video-creator {
  float: right;
  box-sizing: border-box;
  width: 90px;
  height: 32px;
  margin: 19px 0 0 12px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #4f4f4f;
  border-radius: 20px;

  @include link-color;

  &:hover {
    color: #fff;
    text-decoration: none;
    border: 1px solid #ccc;
  }
}

.video-contribution {
  &:hover {
    text-decoration: none;
    background-position: -100px -140px;

    @include link-hover-color;
  }
}

.login-badge {
  position: absolute;
  top: -5px;
  left: 20px;
  box-sizing: border-box;
  min-width: 17px;
  height: 17px;
  padding: 0 4px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  background-color: $light-primary-color;
  border: 1px solid #242424;
  border-radius: 18px;
}

.login {
  position: relative;
  float: right;
  height: 45px;
  padding: 7px 0 0;

  &:hover {
    .login-cont {
      display: block;
    }
  }

  .login-status {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 13px 22px 20px 20px;

    &.avatar {
      img {
        border-radius: 50%;
      }
    }

    &.login-text {
      display: inline-block;
      line-height: 30px;
      text-align: center;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .login-cont {
    position: absolute;
    top: 60px;
    right: -44px;
    display: none;
    width: 158px;
    background-color: #2b2b2b;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 50%);
    border: {
      width: 0 1px 1px;
      color: $nav-border-color;
      style: solid;
      radius: 4px;
    }

    .arrow {
      position: absolute;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      border: {
        width: 7px 6px;
        color: transparent transparent #2b2b2b transparent;
        style: solid;
      }
    }
  }

  .login-list {
    border-top: 1px solid $nav-border-color;

    .login-item {
      position: relative;
      padding-left: 24px;
      line-height: 39px;
      border-radius: 4px;
      cursor: pointer;

      @include link-color;

      &:hover {
        background-color: #353535;

        @include link-hover-color;
      }

      > a {
        @include link-color;

        text-decoration: none;

        &:hover {
          @include link-hover-color;
        }
      }

      .login-badge {
        top: 7px;
        left: 110px;
      }

      .login-icon {
        float: left;
        width: 18px;
        height: 18px;
        margin: 9px 10px 0 0;

        @extend %icon;

        &.login-icon-home {
          background-position: 0 -80px;
        }

        &.login-icon-msg {
          background-position: -20px -120px;
        }

        &.login-icon-level {
          background-position: 0 -100px;
        }

        &.login-icon-member {
          margin-top: 9px;
          background-position: 0 -221px;
        }

        &.login-icon-setting {
          background-position: 0 -140px;
        }

        &.login-icon-verify {
          background-position: -20px -142px;
        }

        &.login-icon-logout {
          background-position: 0 -200px;
        }
      }
    }
  }
}

.sub-nav-wrapper {
  z-index: 90;
  clear: both;
  box-sizing: border-box;
  padding: 2px 0;
  background-color: $light-primary-color;
  border-bottom: 1px solid #a40011;
}

.sub-nav {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.sub-nav-list {
  float: left;
  padding-left: 180px;
}

.sub-nav-item,
.sub-nav-item a {
  float: left;
  text-align: center;
}

.sub-nav-item {
  padding: 4px 0;

  .sub-nav-active em {
    background-color: #9b0909;
    border-radius: 20px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  em {
    position: relative;
    display: inline-block;
    height: 20px;
    margin: 0 17px;
    padding: 0 13px;
    font-style: normal;
    line-height: 18px;

    i {
      position: absolute;
      top: 2px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background: url("~assets/images/white-r-icon.png");
      background-size: cover;
    }

    &:hover {
      background-color: #9b0909;
      border-radius: 20px;
    }
  }
}
