// 主题色 深
$primary-color: #c10d0c;

// 主题色 浅
$light-primary-color: #c20c0c;

// 背景色 深
$bg-primary-color: #f5f5f5;

// 背景色 浅
$bg-color: #f7f7f7;

// 字体颜色 主
$font-primary-color: #333;

// 字体颜色 次
$font-color: #666;

// 按钮主
$button-primary-color: #0c72c3;

// 按钮次
$button-color: #f4f4f4;

// 边框色
$border-color: #d3d3d3;

// 圆角
$border-radius: 4px;

// 背景图标
%background-index {
  background: url(~assets/images/index.png) no-repeat 0 9999px;
}

%background-cover {
  background: url(~assets/images/coverall.png) no-repeat;
}

%background-icon-all {
  background: url(~assets/images/iconall.png) no-repeat;
}

%background-icon {
  background: url(~assets/images/icon.png) no-repeat 0 9999px;
}

%background-icon2 {
  background: url(~assets/images/icon2.png) no-repeat 0 9999px;
}

%background-playlist {
  background: url(~assets/images/playlist.png) no-repeat 0 9999px;
}

%background-playbar {
  background: url(~assets/images/playbar.png) no-repeat 0 9999px;
}

%background-button {
  background: url(~assets/images/button.png) no-repeat 0 9999px;
}

%background-button2 {
  background: url(~assets/images/button2.png) no-repeat 0 9999px;
}

%background-table {
  background: url(~assets/images/table.png) no-repeat 0 9999px;
}

%mask {
  background: url(~assets/images/mask.png) no-repeat 0 9999px;
}

// 单行省略
%text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

// break-word
%break-word {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

%button {
  display: inline-block;
  height: 31px;
  padding: 0 5px 0 0;
  overflow: hidden;
  line-height: 31px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;

  @extend %background-button2;
}

%button-i {
  @extend %button;

  font-style: normal;
  white-space: nowrap;
}

%white-button {
  @extend %button;

  background-position: right -100px;

  &:hover {
    background-position: right -182px;

    i {
      background-position: 0 -141px;
    }
  }
}

%white-button-i {
  @extend %button;

  padding: 0 15px 0 20px;
  font-style: normal;
  background-position: 0 -59px;
}

%u-button {
  float: left;
  min-width: 23px;
  height: 31px;
  line-height: 30px;
  cursor: pointer;

  @extend %background-button2;
}

%u-button-i {
  @extend %u-button;

  padding: 0 5px 0 0;
  font-style: normal;
  white-space: nowrap;
}

%title {
  position: relative;
  height: 34px;
  border-bottom: 2px solid $light-primary-color;
}

%title-h3 {
  float: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

%title-underline-h3 {
  height: 23px;
  margin-bottom: 20px;
  color: $font-primary-color;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

%tag {
  position: relative;
  display: inline-block;
  height: 16px;
  margin: 1px 0 0 10px;
  padding: 0 6px;
  overflow: hidden;
  color: #999;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  border: 1px solid #999;

  &:hover {
    color: $font-color;
    text-decoration: none;
    border-color: #666;
  }
}

%new-button-base {
  display: inline-block;
  min-width: 40px;
  height: 28px;
  padding: 0 15px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
}

%new-button {
  @extend %new-button-base;

  color: $font-primary-color;
  text-decoration: none;
  background-color: $button-color;
  border: 1px solid $border-color;

  &:hover {
    background-color: #fff;
  }
}

%new-button-primary {
  @extend %new-button;

  color: #fff;
  background-color: $button-primary-color;
  border-color: $button-primary-color;

  &:hover {
    background-color: #3d91ec;
    border-color: #3d91ec;
  }
}
