.title {
  padding: 0 10px 0 34px;
  height: 33px;
  border-bottom: 2px solid $primary-color;
  @extend %background-index;
  background-position: -225px -156px;

  .title-text {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    color: #333;
    text-decoration: none;
  }

  .title-more {
    float: right;
    margin-top: 9px;
    color: #666;

    > i {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 4px;
      vertical-align: middle;
      background-position: 0 -240px;
      @extend %background-index;
    }
  }
}

.main {
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: {
    width: 0 1px;
    style: solid;
    color: #d3d3d3;
  }

  .left-wrapper {
    float: left;
    width: 100%;
    margin-right: -250px;

    .left {
      padding: 20px 20px 40px;
      margin-right: 251px;
      border-right: 1px solid #d3d3d3;
    }
  }

  .right-wrapper {
    position: relative;
    float: right;
    width: 250px;
  }
}

// 热门推荐
.hot {
  overflow: hidden;

  .hot-tab {
    margin: 7px 0 0 20px;

    .hot-tab-item {
      display: inline-block;


      > a {
        color: #666;
      }

      > span {
        margin: 0 10px;
        color: #ccc;
      }
    }
  }
}



