.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 33px;
  padding: 0 10px 0 12px;
  border-bottom: 2px solid $primary-color;

  .title-main {
    display: flex;
    align-items: center;

    .icon {
      color: $primary-color;
      font-size: 18px;
    }

    .title-text {
      margin-left: 12px;
      color: $font-primary-color;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-decoration: none;
    }
  }

  .title-more {
    display: flex;
    align-items: center;
    color: $font-color;

    .more-icon {
      margin-left: 8px;
      color: $primary-color;
      font-size: 18px;
    }
  }
}

.main {
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: {
    width: 0 1px;
    style: solid;
    color: #d3d3d3;
  }

  .left-wrapper {
    float: left;
    width: 100%;
    margin-right: -250px;

    .left {
      margin-right: 251px;
      padding: 20px 20px 40px;
      border-right: 1px solid #d3d3d3;
    }
  }

  .right-wrapper {
    position: relative;
    float: right;
    width: 250px;
  }
}

// 热门推荐
.hot {
  overflow: hidden;

  .hot-tab {
    margin: 0 0 0 20px;

    .hot-tab-item {
      display: inline-block;

      > a {
        color: $font-color;
      }

      > span {
        margin: 0 10px;
        color: #ccc;
      }
    }
  }
}
