
.title {
  height: 40px;
  border-bottom: 2px solid $light-primary-color;

  h3 {
    float: left;
    font-weight: normal;
    font-size: 24px;
  }

  .guide {
    margin-top: 14px;
    color: #666;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  }
}
