
.title {
  border-bottom: 2px solid $light-primary-color;

  h3 {
    float: left;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 24px;
  }

  .guide {
    margin-top: 14px;
    color: $font-color;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  }
}
