// 登录
.sign-in {
  height: 126px;
  padding-top: 0;
}

.sign-in-text {
  width: 205px;
  margin: 0 auto;
  padding: 16px 0;
  color: $font-color;
  line-height: 22px;
}

.sign-in-btn {
  display: block;
  width: 100px;
  height: 32px;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  line-height: 32px;
  text-align: center;
  text-shadow: 0 1px 0 #8a060b;
  background-color: $primary-color;
  cursor: pointer;

  @extend %button-base;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

// 个人信息
.my-info {
  height: 165px;
  padding-top: 20px;
  background: url("~assets/images/index.png") no-repeat 0 -270px;

  .base {
    .avatar {
      float: left;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      padding: 2px;
      background: #fff;
      border: 1px solid #dadada;
    }

    .meta {
      float: left;
      width: 115px;
      margin-left: 18px;

      .nickname {
        display: block;
        font-weight: 700;
        font-size: 14px;

        @extend %text-ellipsis;
      }

      .level {
        display: inline-block;
        height: 17px;
        margin-top: 5px;
        padding-left: 25px;
        overflow: hidden;
        color: #999;
        font-weight: bold;
        font-style: italic;
        line-height: 18px;
        text-decoration: none;
        background: url("~assets/images/icon2.png") no-repeat -130px -64px;

        i {
          display: inline-block;
          float: right;
          width: 8px;
          height: 17px;
          overflow: hidden;
          vertical-align: middle;
          background: url("~assets/images/icon2.png") no-repeat  -192px -64px;
        }
      }

      .checkin-btn {
        position: relative;
        display: inline-block;
        height: 31px;
        margin-top: 10px;
        padding: 0 5px 0 0;
        line-height: 31px;
        text-align: center;

        > span {
          display: inline-block;
          height: 31px;
          padding: 0 15px 0 20px;
          line-height: 31px;
        }
      }

      .point-popover {
        position: absolute;
        left: 50%;
        width: 100%;
        padding: 0 10px;
        color: $font-color;
        font-size: 12px;
        background-color: #fffbe5;
        border: 2px solid #ffd700;
        border-radius: 4px;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;

        &.fade {
          animation: fade 2s linear;
        }

        @keyframes fade {
          0%,
          50% {
            visibility: visible;
            opacity: 1;
          }

          100% {
            visibility: hidden;
            opacity: 0;
          }
        }

        .point-popover-arrow {
          position: absolute;
          top: -20px;
          left: 50%;
          border-color: transparent transparent #ffd700;
          border-style: solid;
          border-width: 10px 8px;
          transform: translateX(-50%);

          &::after {
            position: absolute;
            top: -5px;
            left: -6px;
            border-color: transparent transparent #fff;
            border-style: solid;
            border-width: 8px 6px;
            content: "";
          }
        }

        .point {
          margin: 0 5px;
          color: $primary-color;
        }
      }

      .checkin-disabled {
        @extend %background-button2;

        color: #bebebe;
        background-position: right -346px;

        > span {
          color: #bebebe;
          background-position: 0 -305px;

          @extend %background-button2;
        }
      }

      .checkin {
        @extend %background-button2;

        color: #fff;
        background-position: right -428px;
        cursor: pointer;

        > span {
          width: 60px;
          background-position: 0 -387px;
          cursor: pointer;
          pointer-events: none;

          @extend %background-button2;
        }

        &:hover {
          background-position: right -510px;

          > span {
            background-position: 0 -469px;
          }
        }
      }
    }
  }

  .summary {
    margin: 22px 0 0 20px;
    overflow: hidden;

    li {
      float: left;
      height: 40px;
      padding: 0 18px 0 0;

      + li {
        padding-left: 18px;
      }

      &:not(:last-child) {
        border-right: 1px solid #e4e4e4;
      }

      a {
        color: $font-color;
        text-decoration: none;

        &:hover {
          color: #0c73c2;
        }
      }
    }

    strong {
      display: block;
      font-weight: normal;
      font-size: 20px;
    }
  }
}
