@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.wrapper,
.song-source,
.mv,
.collect,
.share,
.setting,
.volume-current,
.volume-ctrl,
.volume-icon,
.order,
.shuffle,
.loop,
.playlist-icon,
.lock-icon,
.lock {
  @extend %background-playbar;
}

.icon {
  float: left;

  @include size(25px, 25px);
}

.volume-icon,
.loop,
.playlist-icon,
.lock-icon {
  cursor: pointer;
}

.wrapper {
  position: fixed;
  left: 0;
  z-index: 998;
  zoom: 1;

  @include size(100%, 53px);
  background: {
    position: 0 0;
    repeat: repeat-x;
  };
}

.wrapper.locked {
  bottom: 0;
}

.wrapper.unlock {
  bottom: -46px;
}

.cont {
  position: relative;
  z-index: 15;
  margin: 5px auto 0;

  @include size(980px, 48px);
}

.btn {
  float: left;
  width: 137px;
  margin-top: 6px;

  a {
    float: left;

    @extend %background-playbar;
  }

  > a {
    text-indent: -9999px;
    cursor: pointer;
  }

  .prev,
  .next {
    @include size(28px, 28px);

    margin: 5px 8px 0;
  }

  .play,
  .pause {
    @include size(36px, 36px);
  }

  .prev {
    background-position: 0 -130px;

    &:hover {
      background-position: -30px -130px;
    }
  }

  .next {
    background-position: -80px -130px;

    &:hover {
      background-position: -110px -130px;
    }
  }

  .play {
    background-position: 0 -165px;

    &:hover {
      background-position: -40px -165px;
    }
  }

  .pause {
    background-position: 0 -204px;

    &:hover {
      background-position: -40px -204px;
    }
  }
}

.cover {
  position: relative;
  float: left;
  margin: 6px 15px 0 0;

  @include size(34px, 34px);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-position: 0 -80px;
    content: "";

    @include size(34px, 35px);
  }
}

.song-info {
  height: 28px;
  line-height: 28px;
}

.song-name,
.singer {
  float: left;
}

.song-name {
  max-width: 300px;
  color: #e8e8e8;

  @extend %text-ellipsis;

  &:hover {
    text-decoration: underline;
  }
}

.singer {
  display: inline-block;
  max-width: 220px;
  margin-left: 15px;
  color: #9b9b9b;

  @extend %text-ellipsis;

  a {
    color: #9b9b9b;
  }
}

.mv {
  display: inline-block;
  float: left;
  width: 19px;
  height: 17px;
  margin: 6px 0 0 3px;
  background-position: 0 -57px;

  &:hover {
    background-position: -20px -57px;
  }
}

.progress {
  position: relative;
  float: left;
  width: 608px;
}

.progress-cont {
  position: relative;
  width: 493px;
  background: url("~assets/images/statbar.png") no-repeat 0 0;
}

.progress-cont,
.ready,
.current {
  height: 9px;
  border-radius: 6px;
}

.dot,
.volume-dot {
  background: url("~assets/images/iconall.png") no-repeat;
}

.dot {
  position: absolute;
  top: -7px;

  @include size(22px, 22px);

  margin-left: -11px;
  background-position: 0 -250px;

  &:hover {
    background-position: 0 -280px;
  }
}

.loading {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  background: url("~assets/images/loading.gif");

  &.hidden {
    visibility: hidden;
  }

  &.visible {
    visibility: visible;
  }
}

.ready,
.current {
  position: absolute;
  top: 0;
  left: 0;
}

.ready {
  background-color: #535353;
}

.current {
  background-color: #c51219;
}

.time {
  float: left;
  margin: 25px 0 0 -102px;
  color: #797979;

  > em {
    color: #a1a1a1;
    font-style: normal;
  }
}

.operation {
  position: relative;
  float: left;
  margin: 12px 6px 0 0;
}

.collect {
  background-position: -88px -163px;
  cursor: pointer;

  &:hover {
    background-position: -88px -189px;
  }
}

.share {
  background-position: -114px -163px;

  &:hover {
    background-position: -114px -189px;
  }
}

.setting {
  position: relative;
  float: left;
  width: 113px;
  padding: 12px 2px 0 13px;
  background-position: -147px -238px;
}

.volume {
  position: relative;
  z-index: 998;
}

.volume-sound {
  background-position: -2px -248px;

  &:hover {
    background-position: -31px -248px;
  }
}

.volume-mute {
  background-position: -104px -69px;

  &:hover {
    background-position: -126px -69px;
  }
}

.volume-ctrl {
  position: absolute;
  bottom: 11px;
  left: -2px;
  background-position: 0 -503px;

  @include size(32px, 113px);
}

.volume-line {
  position: absolute;
  bottom: 10px;
  left: 14px;

  @include size(4px, 93px);
}

.volume-current {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  background-position: -40px bottom;
}

.volume-dot {
  position: absolute;
  left: -7px;

  @include size(18px, 20px);

  background-position: -40px -250px;
  cursor: pointer;

  &:hover {
    background-position: -40px -280px;
  }
}

.mode {
  text-indent: -9999px;
}

.order {
  background-position: -3px -344px;

  &:hover {
    background-position: -33px -344px;
  }
}

.shuffle {
  background-position: -66px -248px;

  &:hover {
    background-position: -93px -248px;
  }
}

.loop {
  background-position: -66px -344px;

  &:hover {
    background-position: -93px -344px;
  }
}

.playlist-icon {
  display: block;
  width: 38px;
  padding-left: 21px;
  color: $font-color;
  line-height: 27px;
  background-position: -42px -68px;
  cursor: pointer;
  user-select: none;
  text: {
    align: center;
    shadow: 0 1px 0 #080707;
  }

  &:hover {
    background-position: -42px -98px;
  }

  .operation-tip {
    position: absolute;
    top: -51px;
    left: 0;
    clear: both;
    width: 152px;
    height: 49px;
    color: #fff;
    line-height: 37px;
    white-space: nowrap;
    text-align: center;
    background-position: 0 -287px;

    @extend %background-playbar;
  }
}

.lock {
  position: absolute;
  top: -14px;
  right: 15px;

  @include size(52px, 67px);

  background-position: 0 -380px;
}

.lock-icon {
  display: block;

  @include size(18px, 18px);

  margin: 6px 0 0 17px;
}

.locked .lock-icon {
  background-position: -100px -380px;

  &:hover {
    background-position: -100px -400px;
  }
}

.unlock .lock-icon {
  background-position: -80px -380px;

  &:hover {
    background-position: -80px -400px;
  }
}
