.cover {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 -220px 0 0;

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #f7f7f7;
      content: '  ';
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 16px;
      margin-top: -8px;
      color: #999;
      text-align: center;
      content: '\f127' attr(alt);
    }
  }

  &::after {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 208px;
    height: 208px;

    @extend %background-cover;

    background-position: 0 -1285px;
    content: '';
  }
}

.content {
  float: right;
  width: 414px;
}

.label {
  float: left;
  width: 54px;
  height: 24px;

  @extend %background-icon;

  background-position: 0 -243px;

  .r {
    position: absolute;
    top: 2px;
    left: 34px;
    width: 8px;
    height: 8px;
    background: url(~assets/images/white-r-icon@3x.png) no-repeat 50%;
    background-size: cover;
  }
}

.title {
  position: relative;
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-break: break-all;
}

.creator {
  margin: 12px 0 20px;

  .avatar,
  .nickname,
  .time {
    display: inline-block;
    vertical-align: middle;
  }

  .avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .nickname {
    color: #0c73c2;
  }

  .time {
    margin-left: 15px;
    color: #999;
  }
}

.operation {
  margin: 0 -10px 25px 0;
  overflow: hidden;
  user-select: none;

  .btn-play {
    float: left;
    white-space: nowrap;
    text-decoration: none;
    background-position: right -428px;

    @extend %background-button2;

    &:hover {
      background-position: right -510px;

      i {
        background-position: 0 -469px;
      }

      em {
        background-position: -28px -1622px;
      }
    }

    i {
      @extend %button-i;

      padding: 0 7px 0 8px;
      color: #fff;
      background-position: 0 -387px;

      em {
        float: left;
        width: 20px;
        height: 18px;
        margin: 6px 2px 2px 0;
        overflow: hidden;
        background-position: 0 -1622px;

        @extend %background-button2;
      }
    }
  }

  .btn-play-disabled {
    float: left;
    margin-right: 6px;
    padding: 0 5px 0 0;
    font-family: simsun, \5b8b\4f53, sans-serif;
    background-position: right -934px;

    @extend %background-button2;

    i {
      @extend %u-button-i;

      padding: 0 7px 0 36px;
      color: #bebebe;
      background-position: 0 -891px;
      cursor: default;

      @extend %background-button2;
    }
  }

  .btn-add-play {
    @extend %u-button;

    margin: 0 5px 0 -3px;
    padding: 0 8px 0 0;
    background-position: 0 -1588px;

    &:hover {
      background-position: -40px -1588px;
    }
  }

  .btn-add-favorite,
  .btn-share,
  .btn-download,
  .btn-comment {
    @extend %u-button;

    margin-right: 6px;
    padding: 0 5px 0 0;
    background-position: right -1020px;

    &:hover {
      background-position: right -1106px;
    }

    i {
      @extend %u-button-i;

      padding: 0 2px 0 28px;
    }
  }

  .btn-add-favorite {
    &.btn-add-favorite-subscribed,
    &.btn-add-favorite-dis {
      background-position: right -1192px;

      &:hover i,
      i {
        color: #bebebe;
        background-position: 0 -1149px;
      }
    }

    &.btn-add-favorite-dis {
      cursor: default;

      &:hover i,
      i {
        cursor: default;
      }
    }

    &[data-loading="true"] {
      i {
        cursor: default;
      }

      i::after {
        width: 14px;
        height: 14px;
        margin: 8px 0 0 6px;
        background: url(~assets/images/loading.gif) no-repeat;
        background-size: 100% 100%;
        cursor: default;
        content: '';
      }
    }

    i {
      position: relative;
      background-position: 0 -977px;

      &::after {
        display: inline-block;
        content: attr(data-content);
      }
    }

    &:hover {
      i {
        background-position: 0 -1063px;
      }
    }
  }

  .btn-share {
    i {
      background-position: 0 -1225px;
    }

    &:hover {
      i {
        background-position: 0 -1268px;
      }
    }
  }

  .btn-download {
    i {
      background-position: 0 -2761px;
    }

    &:hover {
      i {
        background-position: 0 -2805px;
      }
    }
  }

  .btn-comment {
    i {
      line-height: 28px;
      background-position: 0 -1465px;
    }

    &:hover {
      i {
        background-position: 0 -1508px;
      }
    }
  }
}

.desc {
  color: #666;
  line-height: 18px;

  b {
    color: #666;
    font-weight: normal;
  }

  .tags {
    margin: 20px 0 8px;

    .tag {
      display: inline-block;
      margin: 0 10px 3px 0;
      padding: 2px 13px;
      color: #777;
      text-decoration: none;
      background-color: #f7f7f7;
      border: 1px solid #e4e4e4;
      border-radius: 14px;
    }
  }

  .description {
    white-space: pre-wrap;
  }
}

.tracks-wrapper {
  margin: 27px 0 40px 0;

  .table-title {
    border-bottom: 2px solid $light-primary-color;

    h3 {
      display: inline-block;
      height: 35px;
      font-size: 20px;
      line-height: 28px;
    }

    .other {
      color: #666;
      font-size: 12px;

      .total {
        margin: 9px 0 0 20px;
      }

      .more {
        float: right;
        margin-top: 5px;

        .play-count {
          color: $light-primary-color;
        }
      }
    }
  }
}
