
.list {
  margin: 20px 0 0 -33px;
}

.item {
  display: inline-block;
  float: left;
  width: 153px;
  height: 178px;
  padding: 0 0 30px 33px;
  overflow: hidden;
}

.cover {
  position: relative;
  width: 130px;
  height: 130px;

  img {
    width: 130px;
    height: 130px;
  }

  &:hover {
    .play-icon {
      display: inline-block;
    }
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 130px;
  @extend %background-cover;
  background-position: 0 -845px;
}

.play-icon {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 5px;
  left: 94px;
  width: 28px;
  height: 28px;
  @extend %background-icon-all;
  background-position: 0 -140px;
  cursor: pointer;

  &:hover {
    background-position: 0 -170px;
  }
}

.desc {
  margin: 8px 0 3px;
  @extend %text-ellipsis;
  color: #000;
  font-size: 14px;
}

.name {
  @extend %text-ellipsis;

  a {
    color: #666;
  }
}
