.wrapper {

}

.title {
  height: 33px;
  border-bottom: 2px solid #c20c0c;

  h3 {
    float: left;
    font-size: 20px;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28px;
  }

  .count {
    float: left;
    margin: 9px 0 0 20px;
    color: #666;
  }
}

.content {
  margin-top: 20px;
}

.avatar {
  float: left;
  width: 50px;
  height: 50px;
}

.editor-wrapper {
  margin-bottom: 20px;
}

.editor {
  position: relative;
  margin-left: 64px;

  &::before,
  &::after {
    position: absolute;
    border-style: solid;
    content: '';
  }

  &::before {
    top: 16px;
    left: -17px;
    border-width: 6px 9px;
    border-color: transparent #cdcdcd transparent transparent;
  }

  &::after {
    top: 17px;
    left: -14.5px;
    border-width: 5px 8px;
    border-color: transparent #fff transparent transparent;
  }
}

.sub-title {
  position: relative;
  top: 1px;
  height: 20px;
  border-bottom: 1px solid #cfcfcf;
}

.hot-comment {
  margin-bottom: 30px;
}


.item {
  padding: 15px 0;
  border-top: 1px dotted #ccc;

  &:hover {
    .text .delete,
    .text .delete + .space {
      display: inline-block;
    }
  }
}

.item-avatar {
  float: left;
  width: 50px;
  height: 50px;
}

.text {
  margin-left: 60px;

  .nickname {
    color: #0c73c2;
  }

  .icon {
    display: inline-block;
    width: 12px;
    height: 13px;
  }

  .v-icon {
    margin-right: 5px;
    width: 11px;
    vertical-align: -1px;
    @extend %background-icon;
    background-position: 0 1px;
  }

  .music-icon {
    margin-right: 5px;
    vertical-align: -2px;
    @extend %background-icon2;
    background-position: -110px -190px;
  }

  .star-icon {
    margin: -3px 5px 0 0;
    vertical-align: -1px;
    @extend %background-icon;
    background-position: -65px -840px;
  }

  .vip-icon {
    display: inline-block;
    margin-right: 5px;
    width: 26px;
    height: 12px;
    vertical-align: -1px;
    background: url(~assets/images/vip.png) no-repeat center;
    background-size: 100% 100%;
  }

  .vip-year-icon {
    width: 39px;
    background: url(~assets/images/vip-year.png) no-repeat center;
    background-size: 100% 100%;
  }

  .package-icon {
     display: inline-block;
     margin-right: 5px;
     width: 12px;
     height: 12px;
     vertical-align: -2px;
     background: url(~assets/images/package.png) no-repeat center;
     background-size: 100% 100%;
   }

  .comment,
  .replied {
    color: #666;

    a {
      margin-right: 5px;
      color: #0c73c2;
    }

    img {
      vertical-align: middle;
    }
  }

  .expression {
    margin-top: 5px;
  }

  .comment {
    word-break: break-all;
    line-height: 20px;
  }

  .replied {
    position: relative;
    margin-top: 10px;
    padding: 8px 19px;
    line-height: 20px;
    background-color: #f4f4f4;
    border: 1px solid #dedede;

    &::before,
    &::after {
      position: absolute;
      border-style: solid;
      content: '';
    }

    &::before {
      top: -13px;
      left: 16px;
      border-width: 6px 5px;
      border-color: transparent transparent #dedede transparent;
    }

    &::after {
      top: -10px;
      left: 17px;
      border-width: 5px 4px;
      border-color: transparent transparent #f4f4f4 transparent;
    }
  }

  .feedback {
    margin-top: 15px;
    text-align: right;
    user-select: none;
  }

  .like {
    cursor: pointer;

    i {
      display: inline-block;
      margin: -4px 5px 0 0;
      width: 15px;
      height: 14px;
      vertical-align: -2px;
      @extend %background-icon2;
      background-position: -150px 0;
    }

    &.liked i {
      background-position: -170px 0;
    }
  }

  .space {
    margin: 0 8px;
    color: #ccc;
  }

  .delete {
    display: none;

    + .space {
      display: none;
    }
  }

  .delete,
  .reply {
    color: #666;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .time {
    float: left;
    margin: 0;
    color: #999;
  }
}


.pagination {
  margin: 0 -20px;
}



