.not-found {
  min-width: 982px;
  background-color: $bg-color;
}

.not-found-wrapper {
  padding: 165px 0 166px;
  text-align: center;
  background-color: #FFF;
}

.not-found-icon {
  display: inline-block;
  width: 270px;
  height: 112px;
  background: url(~assets/images/logo.png) no-repeat 0 -405px;
}

.not-found-note {
  margin-top: 35px;
  font-size: 18px;
  font-family: "Microsoft Yahei";
  color: #666;
}
