.info {
  overflow: hidden;
}

.cover-wrapper {
  float: left;
  width: 206px;
  margin-right: -226px;
}

.cover {
  position: relative;
  width: 198px;
  height: 198px;

  img {
    width: 130px;
    height: 130px;
    margin: 34px;
  }

  &::after {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 206px;
    height: 205px;
    background: url(~assets/images/coverall.png) no-repeat -140px -580px;
    content: '';
  }
}

.out-chain {
  margin-top: 20px;
  text-align: center;

  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    background-position: -34px -863px;

    @extend %background-icon;
  }

  a {
    color: #0c73c2;
    text-decoration: underline;
  }
}

.content {
  float: right;
  width: 414px;
}

.label,
.vip-label {
  float: left;
  margin-bottom: 10px;
}

.label {
  width: 54px;
  height: 24px;

  @extend %background-icon;

  background-position: 0 -463px;
}

.vip-label {
  box-sizing: border-box;
  width: 75px;
  height: 27px;
  padding-left: 8px;
  color: #fff;
  font-size: 13px;
  line-height: 25px;
  background: url(~assets/images/label.png) center;
  background-size: 100% 100%;
}

.title {
  position: relative;
  margin-top: -5px;
  margin-bottom: 14px;
  margin-left: 64px;
  font-size: 24px;
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;

  .alias {
    margin: 1px 0 5px;
    color: #bababa;
    font-size: 14px;
  }

  &.vip-title {
    margin-left: 80px;
  }
}

.mv-link {
  i {
    display: inline-block;
    width: 21px;
    height: 18px;
    margin-left: 7px;
    background-position: 0 -18px;

    @extend %background-icon;
  }
}

.desc {
  clear: both;
  padding: 0 0 10px;
  color: #999;

  a {
    color: #0c73c2;
  }

  span {
    color: #333;
  }
}

.operation {
  margin: 0 -10px 25px 0;
  overflow: hidden;
  user-select: none;

  .vip-play {
    float: left;
    width: 100px;
    height: 32px;
    margin-right: 4px;
    padding: 0 5px 0 0;
    white-space: nowrap;
    background: url(~assets/images/vip-play.png) center;
    background-size: 100% 100%;
    cursor: pointer;
    user-select: none;

    i {
      @extend %button-i;

      padding: 0 15px 0 30px;
      color: #fff;
    }
  }

  .btn-play {
    float: left;
    white-space: nowrap;
    text-decoration: none;
    background-position: right -428px;

    @extend %background-button2;

    &:hover {
      background-position: right -510px;

      i {
        background-position: 0 -469px;
      }

      em {
        background-position: -28px -1622px;
      }
    }

    i {
      @extend %button-i;

      padding: 0 7px 0 8px;
      color: #fff;
      background-position: 0 -387px;

      em {
        float: left;
        width: 20px;
        height: 18px;
        margin: 6px 2px 2px 0;
        overflow: hidden;
        background-position: 0 -1622px;

        @extend %background-button2;
      }
    }
  }

  .btn-play-disabled {
    float: left;
    margin-right: 6px;
    padding: 0 5px 0 0;
    font-family: simsun, \5b8b\4f53, sans-serif;
    background-position: right -934px;

    @extend %background-button2;

    i {
      @extend %u-button-i;

      padding: 0 7px 0 36px;
      color: #bebebe;
      background-position: 0 -891px;
      cursor: default;

      @extend %background-button2;
    }
  }

  .btn-add-play {
    @extend %u-button;

    margin: 0 5px 0 -3px;
    padding: 0 8px 0 0;
    background-position: 0 -1588px;

    &:hover {
      background-position: -40px -1588px;
    }
  }

  .btn-add-favorite,
  .btn-share,
  .btn-download,
  .btn-comment {
    @extend %u-button;

    margin-right: 6px;
    padding: 0 5px 0 0;
    background-position: right -1020px;

    &:hover {
      background-position: right -1106px;
    }

    i {
      @extend %u-button-i;

      padding: 0 2px 0 28px;
    }
  }

  .btn-add-favorite {
    i {
      background-position: 0 -977px;
    }

    &:hover {
      i {
        background-position: 0 -1063px;
      }
    }
  }

  .btn-share {
    i {
      background-position: 0 -1225px;
    }

    &:hover {
      i {
        background-position: 0 -1268px;
      }
    }
  }

  .btn-download {
    i {
      background-position: 0 -2761px;
    }

    &:hover {
      i {
        background-position: 0 -2805px;
      }
    }

    &.btn-vip-download {
      margin-right: 6px;
      font-family: simsun, \5b8b\4f53 sans-serif;
      background: url(~assets/images/vip-download.png) no-repeat center;
      background-size: 100% 100%;

      i {
        background: transparent;
      }
    }
  }

  .btn-comment {
    i {
      background-position: 0 -1465px;
    }

    &:hover {
      i {
        background-position: 0 -1508px;
      }
    }
  }
}

.lyric-wrapper {
  margin-top: 13px;
  line-height: 23px;

  @extend %break-word;
}

.no-lyric {
  margin-top: 13px;
  color: #666;
}

.lyric {
  overflow: hidden;

  p {
    min-height: 24px;
    line-height: 24px;
  }

  &.fold {
    min-height: 160px;
    max-height: 312px;

    + .fold-ctrl i {
      background-position: -65px -520px;
    }
  }

  &.unfold {
    height: auto;

    + .fold-ctrl i {
      background-position: -45px -520px;
    }
  }
}

.fold-ctrl {
  color: #0c73c2;
  cursor: pointer;

  i {
    display: inline-block;
    width: 11px;
    height: 8px;

    @extend %background-icon;
  }
}

.lyric-user {
  margin-top: 48px;
  line-height: 30px;
  text-align: right;

  a {
    text-decoration: underline;
  }
}

.lyric-report {
  color: #999;
}

.lyric-user-info {
  color: #666;

  a {
    color: #0c73c2;
  }
}

.songs {
  margin-bottom: 25px;

  li {
    overflow: hidden;
  }

  li + li {
    margin-top: 10px;
  }

  .title-underline {
    @extend %title-underline-h3;

    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  }

  .singer {
    color: #999;

    @extend %text-ellipsis;

    a {
      color: #999;
    }
  }

  .text {
    float: left;
    width: 156px;
    line-height: 16px;

    p {
      @extend %text-ellipsis;
    }
  }

  .oper {
    position: relative;
    top: 10px;
    float: right;
    line-height: 32px;
  }

  .icon {
    float: left;
    width: 10px;
    height: 11px;
    cursor: pointer;
    opacity: 0.9;

    @extend %background-icon2;

    &:hover {
      opacity: 1;
    }
  }

  .play-icon {
    margin-right: 16px;
    background-position: -69px -455px;
  }

  .add-icon {
    background-position: -87px -454px;
  }
}
