.actions {
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
  overflow: hidden;
  user-select: none;

  .btn-play {
    @extend %button-primary;

    padding: 0 8px;
    border-right: 1px solid $border-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    span {
      margin-right: 6px;
      font-size: 12px;
    }
  }

  .btn-add-play {
    @extend %button-primary;

    min-width: auto;
    margin-right: 6px;
    padding: 0 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    svg {
      margin-right: 0 !important;
    }
  }
}
