.list {
  margin-top: 20px;
}

.item {
  padding: 10px 10px 8px 18px;
  font-size: 12px;
  border: 1px solid #fff;

  &.even {
    background: $bg-color;
    border-color: #f7f7f7;
  }

  .td {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }

  .icon {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin: 0 7px 0 0;
    vertical-align: middle;
    cursor: pointer;

    @extend %background-table;

    &.add-icon {
      width: 13px;
      height: 13px;
      margin-right: 8px;
      margin-bottom: 3px;
      background-position: 0 -700px;

      @extend %background-icon;

      &:hover {
        background-position: -22px -700px;
      }
    }

    &.favorite-icon {
      margin-left: 0;
      background-position: 0 -174px;

      &:hover {
        background-position: -20px -174px;
      }
    }

    &.share-icon {
      background-position: 0 -195px;

      &:hover {
        background-position: -20px -195px;
      }
    }

    &.download-icon {
      background-position: -81px -174px;

      &:hover {
        background-position: -104px -174px;
      }
    }
  }

  .mv-icon {
    margin-left: 6px;
    color: $primary-color;
    font-size: 24px;
    vertical-align: middle;

    &:hover {
      opacity: 0.8;
    }
  }

  .play-icon {
    height: 17px;
    margin-right: 4px;
    vertical-align: middle;
  }

  .name {
    width: 370px;

    @extend %text-ellipsis;
  }

  .alias {
    color: #aeaeae;
  }

  .operation {
    visibility: hidden;
  }

  .artist {
    width: 15%;
    margin-right: 12px;

    @extend %text-ellipsis;
  }

  .album {
    width: 18%;
    margin-right: 12px;
    color: $font-color;

    @extend %text-ellipsis;
  }

  &:hover {
    background: #f2f2f2;
    border: 1px solid #e1e1e1;

    .operation {
      visibility: visible;
    }
  }
}
