.list {
  margin: 20px 0 0 -42px;
}

.item {
  position: relative;
  float: left;
  width: 140px;
  height: 204px;
  margin: 0 0 30px 42px;
}

.cover {
  position: relative;
  width: 140px;
  height: 140px;
  color: #ccc;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;

    @extend %background-cover;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    color: #ccc;
    background-position: 0 -537px;

    @extend %background-cover;

    .icon-headset {
      width: 14px;
      height: 11px;
      margin: 9px 5px 0 10px;
      background-position: 0 -24px;

      @extend %background-icon-all;
    }

    .icon-play {
      position: absolute;
      right: 10px;
      bottom: 5px;
      width: 16px;
      height: 17px;
      background-position: 0 0;
      cursor: pointer;

      @extend %background-icon-all;

      &:hover {
        background-position: 0 -60px;
      }
    }

    .play-num {
      margin: 6px 0 0;
    }
  }
}

.des {
  display: inline-block;
  margin: 8px 0 0;
  color: #000;
  font-size: 14px;
}
