.list {
  margin: 20px 0 0 -42px;
}

.item {
  position: relative;
  float: left;
  width: 140px;
  height: 204px;
  margin: 0 0 30px 42px;
}

.cover {
  position: relative;
  width: 140px;
  height: 140px;
  color: #ccc;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;

    @extend %background-cover;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 27px;
    color: #fff;
    background-color: $bg-black-translucent;

    .icon-headset {
      margin: 0 6px;
      font-size: 16px;
    }

    .icon-play {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.des {
  display: inline-block;
  margin: 8px 0 0;
  color: #000;
  font-size: 14px;
}
