.cont {
  padding: 40px 0;
}

.login-mode {
  height: 48px;
  margin: 40px 0 -40px;
  padding: 0 20px;
  line-height: 48px;
  background-color: $bg-color;
  border-top: 1px solid #c6c6c6;
  border-radius: 0 0 4px 4px;

  .sign-up-guide,
  .login-link-primary {
    text-decoration: none;
    cursor: pointer;
  }

  .login-link-primary {
    color: #0c72c3;
  }

  .sign-up-guide {
    color: #999;
  }
}

.login-btn,
.sign-up-btn {
  @extend %button;

  width: 215px;
  margin-top: 10px;
  overflow: hidden;
}

.login-btn > i,
.sign-up-btn > i {
  @extend %button-i;

  width: 180px;
  padding: 0 15px 0 20px;
  color: #fff;
}

.login-btn {
  background-position: right -428px;

  &:hover {
    background-position: right -510px;

    > i {
      background-position: 0 -469px;
    }
  }

  > i {
    background-position: 0 -387px;
  }
}

.sign-up-btn {
  background-position: right -100px;

  > i {
    color: $font-primary-color;
    background-position: 0 -59px;
  }

  &:hover {
    background-position: right -182px;

    > i {
      background-position: 0 -141px;
    }
  }
}

.login-sign-up,
.login-mobile,
.login-email,
.login-reset {
  width: 220px;
  margin: -10px auto 0;
  padding: 0 0 3px;
}

.login-phone-wrapper {
  position: relative;
  z-index: 10;
  height: 30px;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.login-code-current {
  position: relative;
  float: left;
  height: 30px;
  padding: 0 18px 0 5px;
  line-height: 30px;
  border-right: 1px solid #cdcdcd;
}

.login-code-options {
  position: absolute;
  top: 31px;
  left: -1px;
  width: 100%;
  height: 128px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-top: none;
}

.login-code-item {
  height: 32px;
  padding: 0 10px 0 7px;
  overflow: hidden;
  color: $font-primary-color;
  line-height: 32px;
  cursor: pointer;

  &:hover {
    background-color: #eaeaea;
  }
}

.login-icon {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.login-arrow {
  position: absolute;
  top: 14px;
  right: 7px;
  width: 7px;
  height: 4px;
  background: url(~assets/images/icon2.png) no-repeat -260px -450px;
}

.login-input-wrapper {
  overflow: hidden;
}

.login-input {
  width: 206px;
  height: 19px;
  padding: 5px 6px 6px;
  line-height: 19px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.login-phone-number {
  border: none;
}

.login-error {
  height: auto;
  margin-top: 5px;
  line-height: 18px;

  > i {
    width: 14px;
    height: 14px;
    margin: 0 8px 0 0;
    background: url(~assets/images/icon.png) no-repeat -50px -270px;
  }
}

.error-msg {
  color: $light-primary-color;
}

.login-option {
  margin: 15px 0 10px;

  > label,
  .login-option-link {
    color: $font-color;
  }

  .login-option-link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    margin: 0 12px 0 0;
    vertical-align: middle;
  }
}
